In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('titanic.csv')
pd.set_option('display.max_rows',None)

In [7]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
117,118,0,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
123,124,1,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
139,140,0,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
178,179,0,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
191,192,0,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
193,194,1,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
195,196,1,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
209,210,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,212,1,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
215,216,1,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
218,219,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
219,220,0,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
226,227,1,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,0,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
245,246,0,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S

In [8]:
df.shape

(891, 12)

In [9]:
# Labelling the independent and dependent variable

x= df.drop('Survived',axis=1)

In [10]:
y= df['Survived']

In [11]:
x

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,27,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
42,43,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1,0,2926,26.0000,NaN,S
54,55,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
100,101,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
101,102,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,1,"White, Mr. Richard Frasar",male,21.00,0,1,35281,77.2875,D26,S
103,104,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
104,105,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
105,106,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
106,107,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
107,108,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,109,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
109,110,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
110,111,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
111,112,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
112,113,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
113,114,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,115,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
115,116,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
117,118,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
118,119,1,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C
119,120,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
120,121,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,2,"Nasser, Mr. Nicholas",male,32.50,1,0,237736,30.0708,NaN,C
123,124,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
124,125,1,"White, Mr. Percival Wayland",male,54.00,0,1,35281,77.2875,D26,S
125,126,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
126,127,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,128,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
128,129,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,130,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
130,131,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
131,132,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
133,134,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S
134,135,2,"Sobey, Mr. Samuel James Hayden",male,25.00,0,0,C.A. 29178,13.0000,NaN,S
135,136,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
136,137,1,"Newsom, Miss. Helen Monypeny",female,19.00,0,2,11752,26.2833,D47,S
137,138,1,"Futrelle, Mr. Jacques Heath",male,37.00,1,0,113803,53.1000,C123,S
138,139,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
139,140,1,"Giglio, Mr. Victor",male,24.00,0,0,PC 17593,79.2000,B86,C
140,141,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,143,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
144,145,2,"Andrew, Mr. Edgardo Samuel",male,18.00,0,0,231945,11.5000,NaN,S
145,146,2,"Nicholls, Mr. Joseph Charles",male,19.00,1,1,C.A. 33112,36.7500,NaN,S
146,147,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
147,148,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
148,149,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.50,0,2,230080,26.0000,F2,S
149,150,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
150,151,2,"Bateman, Rev. Robert James",male,51.00,0,0,S.O.P. 1166,12.5250,NaN,S
151,152,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
152,153,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,154,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,155,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,1,"Williams, Mr. Charles Duane",male,51.00,0,1,PC 17597,61.3792,NaN,C
156,157,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,158,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
161,162,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S
162,163,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,164,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
166,167,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
167,168,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
168,169,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
170,171,1,"Van der hoef, Mr. Wyckoff",male,61.00,0,0,111240,33.5000,B19,S
171,172,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
172,173,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
173,174,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,1,"Smith, Mr. James Clinch",male,56.00,0,0,17764,30.6958,A7,C
175,176,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
176,177,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,178,1,"Isham, Miss. Ann Elizabeth",female,50.00,0,0,PC 17595,28.7125,C49,C
178,179,2,"Hale, Mr. Reginald",male,30.00,0,0,250653,13.0000,NaN,S
179,180,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
180,181,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
183,184,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S
184,185,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
185,186,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
186,187,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
187,188,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.00,0,0,111428,26.5500,NaN,S
188,189,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
189,190,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
190,191,2,"Pinsky, Mrs. (Rosa)",female,32.00,0,0,234604,13.0000,NaN,S
191,192,2,"Carbines, Mr. William",male,19.00,0,0,28424,13.0000,NaN,S
192,193,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
193,194,2,"Navratil, Master. Michel M",male,3.00,1,1,230080,26.0000,F2,S
194,195,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C
195,196,1,"Lurette, Miss. Elise",female,58.00,0,0,PC 17569,146.5208,B80,C
196,197,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
198,199,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
199,200,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
200,201,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
201,202,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
203,204,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
204,205,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,206,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
206,207,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
207,208,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
208,209,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
209,210,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
210,211,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
211,212,2,"Cameron, Miss. Clear Annie",female,35.00,0,0,F.C.C. 13528,21.0000,NaN,S
212,213,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
213,214,2,"Givard, Mr. Hans Kristensen",male,30.00,0,0,250646,13.0000,NaN,S
214,215,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
215,216,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
216,217,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
217,218,2,"Jacobsohn, Mr. Sidney Samuel",male,42.00,1,0,243847,27.0000,NaN,S
218,219,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C
219,220,2,"Harris, Mr. Walter",male,30.00,0,0,W/C 14208,10.5000,NaN,S
220,221,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
221,222,2,"Bracken, Mr. James H",male,27.00,0,0,220367,13.0000,NaN,S
222,223,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
223,224,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
224,225,1,"Hoyt, Mr. Frederick Maxfield",male,38.00,1,0,19943,90.0000,C93,S
225,226,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
226,227,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
227,228,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
228,229,2,"Fahlstrom, Mr. Arne Jonas",male,18.00,0,0,236171,13.0000,NaN,S
229,230,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
230,231,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.00,1,0,36973,83.4750,C83,S
231,232,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
232,233,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
233,234,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
234,235,2,"Leyson, Mr. Robert William Norman",male,24.00,0,0,C.A. 29566,10.5000,NaN,S
235,236,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,2,"Hold, Mr. Stephen",male,44.00,1,0,26707,26.0000,NaN,S
237,238,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.00,0,2,C.A. 31921,26.2500,NaN,S
238,239,2,"Pengelly, Mr. Frederick William",male,19.00,0,0,28665,10.5000,NaN,S
239,240,2,"Hunt, Mr. George Henry",male,33.00,0,0,SCO/W 1585,12.2750,NaN,S
240,241,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,242,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
242,243,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
243,244,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
245,246,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
246,247,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
247,248,2,"Hamalainen, Mrs. William (Anna)",female,24.00,0,2,250649,14.5000,NaN,S
248,249,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S
249,250,2,"Carter, Rev. Ernest Courtenay",male,54.00,1,0,244252,26.0000,NaN,S
250,251,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
252,253,1,"Stead, Mr. William Thomas",male,62.00,0,0,113514,26.5500,C87,S
253,254,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S
254,255,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
255,256,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C
256,257,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
257,258,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S
258,259,1,"Ward, Miss. Anna",female,35.00,0,0,PC 17755,512.3292,NaN,C
259,260,2,"Parrish, Mrs. (Lutie Davis)",female,50.00,0,1,230433,26.0000,NaN,S
260,261,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q

In [12]:
y

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
30     0
31     1
32     1
33     0
34     0
35     0
36     1
37     0
38     0
39     1
40     0
41     0
42     0
43     1
44     1
45     0
46     0
47     1
48     0
49     0
50     0
51     0
52     1
53     1
54     0
55     1
56     1
57     0
58     1
59     0
60     0
61     1
62     0
63     0
64     0
65     1
66     1
67     0
68     1
69     0
70     0
71     0
72     0
73     0
74     1
75     0
76     0
77     0
78     1
79     1
80     0
81     1
82     1
83     0
84     1
85     1
86     0
87     0
88     1
89     0
90     0
91     0
92     0
93     0
94     0
95     0
96     0
97     1
98     1
99     0
100    0
101    0
102    0
103    0
104    0
105    0
106    1
107    1
108    0
109    1
110    0
111    0
112    0
113    0
114    0
115    0
116    0
117    0
118    0
119    0
120    0
121    0
122    0
123    1
124    0
125    1
126    0
127    1
128    1
129    0
130    0
131    0
132    0
133    1
134    0
135    0
136    1
137    0
138    0
139    0
140    0
141    1
142    1
143    0
144    0
145    0
146    1
147    0
148    0
149    0
150    0
151    1
152    0
153    0
154    0
155    0
156    1
157    0
158    0
159    0
160    0
161    1
162    0
163    0
164    0
165    1
166    1
167    0
168    0
169    0
170    0
171    0
172    1
173    0
174    0
175    0
176    0
177    0
178    0
179    0
180    0
181    0
182    0
183    1
184    1
185    0
186    1
187    1
188    0
189    0
190    1
191    0
192    1
193    1
194    1
195    1
196    0
197    0
198    1
199    0
200    0
201    0
202    0
203    0
204    1
205    0
206    0
207    1
208    1
209    1
210    0
211    1
212    0
213    0
214    0
215    1
216    1
217    0
218    1
219    0
220    1
221    0
222    0
223    0
224    1
225    0
226    1
227    0
228    0
229    0
230    1
231    0
232    0
233    1
234    0
235    0
236    0
237    1
238    0
239    0
240    0
241    1
242    0
243    0
244    0
245    0
246    0
247    1
248    1
249    0
250    0
251    0
252    0
253    0
254    0
255    1
256    1
257    1
258    1
259    1
260    0
261    1
262    0
263    0
264    0
265    0
266    0
267    1
268    1
269    1
270    0
271    1
272    1
273    0
274    1
275    1
276    0
277    0
278    0
279    1
280    0
281    0
282    0
283    1
284    0
285    0
286    1
287    0
288    1
289    1
290    1
291    1
292    0
293    0
294    0
295    0
296    0
297    0
298    1
299    1
300    1
301    1
302    0
303    1
304    0
305    1
306    1
307    1
308    0
309    1
310    1
311    1
312    0
313    0
314    0
315    1
316    1
317    0
318    1
319    1
320    0
321    0
322    1
323    1
324    0
325    1
326    0
327    1
328    1
329    1
330    1
331    0
332    0
333    0
334    1
335    0
336    0
337    1
338    1
339    0
340    1
341    1
342    0
343    0
344    0
345    1
346    1
347    1
348    1
349    0
350    0
351    0
352    0
353    0
354    0
355    0
356    1
357    0
358    1
359    1
360    0
361    0
362    0
363    0
364    0
365    0
366    1
367    1
368    1
369    1
370    1
371    0
372    0
373    0
374    0
375    1
376    1
377    0
378    0
379    0
380    1
381    1
382    0
383    1
384    0
385    0
386    0
387    1
388    0
389    1
390    1
391    1
392    0
393    1
394    1
395    0
396    0
397    0
398    0
399    1
400    1
401    0
402    0
403    0
404    0
405    0
406    0
407    1
408    0
409    0
410    0
411    0
412    1
413    0
414    1
415    0
416    1
417    1
418    0
419    0
420    0
421    0
422    0
423    0
424    0
425    0
426    1
427    1
428    0
429    1
430    1
431    1
432    1
433    0
434    0
435    1
436    0
437    1
438    0
439    0
440    1
441    0
442    0
443    1
444    1
445    1
446    1
447    1
448    1
449    1
450    0
451    0
452    0
453    1
454    0
455    1
456    0
457    1
458    1
459    0
460    1
461    0
462    0
463    0
464    0
465    0
466    0
467    0
468    0
469    1
470    0
471    0
472    1
473    1
474    0
475    0
476    0
477    0
478    0
479    1
480    0
481    0
482    0
483    1
484    1
485    0
486    1
487    0
488    0
489    1
490    0
491    0
492    0
493    0
494    0
495    0
496    1
497    0
498    0
499    0
500    0
501    0
502    0
503    0
504    1
505    0
506    1
507    1
508    0
509    1
510    1
511    0
512    1
513    1
514    0
515    0
516    1
517    0
518    1
519    0
520    1
521    0
522    0
523    1
524    0
525    0
526    1
527    0
528    0
529    0
530    1
531    0
532    0
533    1
534    0
535    1
536    0
537    1
538    0
539    1
540    1
541    0
542    0
543    1
544    0
545    0
546    1
547    1
548    0
549    1
550    1
551    0
552    0
553    1
554    1
555    0
556    1
557    0
558    1
559    1
560    0
561    0
562    0
563    0
564    0
565    0
566    0
567    0
568    0
569    1
570    1
571    1
572    1
573    1
574    0
575    0
576    1
577    1
578    0
579    1
580    1
581    1
582    0
583    0
584    0
585    1
586    0
587    1
588    0
589    0
590    0
591    1
592    0
593    0
594    0
595    0
596    1
597    0
598    0
599    1
600    1
601    0
602    0
603    0
604    1
605    0
606    0
607    1
608    1
609    1
610    0
611    0
612    1
613    0
614    0
615    1
616    0
617    0
618    1
619    0
620    0
621    1
622    1
623    0
624    0
625    0
626    0
627    1
628    0
629    0
630    1
631    0
632    1
633    0
634    0
635    1
636    0
637    0
638    0
639    0
640    0
641    1
642    0
643    1
644    1
645    1
646    0
647    1
648    0
649    1
650    0
651    1
652    0
653    1
654    0
655    0
656    0
657    0
658    0
659    0
660    1
661    0
662    0
663    0
664    1
665    0
666    0
667    0
668    0
669    1
670    1
671    0
672    0
673    1
674    0
675    0
676    0
677    1
678    0
679    1
680    0
681    1
682    0
683    0
684    0
685    0
686    0
687    0
688    0
689    1
690    1
691    1
692    1
693    0
694    0
695    0
696    0
697    1
698    0
699    0
700    1
701    1
702    0
703    0
704    0
705    0
706    1
707    1
708    1
709    1
710    1
711    0
712    1
713    0
714    0
715    0
716    1
717    1
718    0
719    0
720    1
721    0
722    0
723    0
724    1
725    0
726    1
727    1
728    0
729    0
730    1
731    0
732    0
733    0
734    0
735    0
736    0
737    1
738    0
739    0
740    1
741    0
742    1
743    0
744    1
745    0
746    0
747    1
748    0
749    0
750    1
751    1
752    0
753    0
754    1
755    1
756    0
757    0
758    0
759    1
760    0
761    0
762    1
763    1
764    0
765    1
766    0
767    0
768    0
769    0
770    0
771    0
772    0
773    0
774    1
775    0
776    0
777    1
778    0
779    1
780    1
781    1
782    0
783    0
784    0
785    0
786    1
787    0
788    1
789    0
790    0
791    0
792    0
793    0
794    0
795    0
796    1
797    1
798    0
799    0
800    0
801    1
802    1
803    1
804    1
805    0
806    0
807    0
808    0
809    1
810    0
811    0
812    0
813    0
814    0
815    0
816    0
817    0
818    0
819    0
820    1
821    1
822    0
823    1
824    0
825    0
826    0
827    1
828    1
829    1
830    1
831    1
832    0
833    0
834    0
835    1
836    0
837    0
838    1
839    1
840    0
841    0
842    1
843    0
844    0
845    0
846    0
847    0
848    0
849    1
850    0
851    0
852    0
853    1
854    0
855    1
856    1
857    1
858    1
859    0
860    0
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, dtype: int64

In [13]:
# split the dataset into train and test 

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.20, random_state=80)

In [14]:
x_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
795,796,2,"Otter, Mr. Richard",male,39.00,0,0,28213,13.0000,NaN,S
94,95,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
759,760,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.00,0,0,110152,86.5000,B77,S
834,835,3,"Allum, Mr. Owen George",male,18.00,0,0,2223,8.3000,NaN,S
113,114,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
801,802,2,"Collyer, Mrs. Harvey (Charlotte Annie Tate)",female,31.00,1,1,C.A. 31921,26.2500,NaN,S
149,150,2,"Byles, Rev. Thomas Roussel Davids",male,42.00,0,0,244310,13.0000,NaN,S
881,882,3,"Markun, Mr. Johann",male,33.00,0,0,349257,7.8958,NaN,S
529,530,2,"Hocking, Mr. Richard George",male,23.00,2,1,29104,11.5000,NaN,S
712,713,1,"Taylor, Mr. Elmer Zebley",male,48.00,1,0,19996,52.0000,C126,S
598,599,3,"Boulos, Mr. Hanna",male,NaN,0,0,2664,7.2250,NaN,C
553,554,3,"Leeni, Mr. Fahim (""Philip Zenni"")",male,22.00,0,0,2620,7.2250,NaN,C
212,213,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
590,591,3,"Rintamaki, Mr. Matti",male,35.00,0,0,STON/O 2. 3101273,7.1250,NaN,S
323,324,2,"Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...",female,22.00,1,1,248738,29.0000,NaN,S
293,294,3,"Haas, Miss. Aloisia",female,24.00,0,0,349236,8.8500,NaN,S
543,544,2,"Beane, Mr. Edward",male,32.00,1,0,2908,26.0000,NaN,S
804,805,3,"Hedman, Mr. Oskar Arvid",male,27.00,0,0,347089,6.9750,NaN,S
160,161,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
117,118,2,"Turpin, Mr. William John Robert",male,29.00,1,0,11668,21.0000,NaN,S
768,769,3,"Moran, Mr. Daniel J",male,NaN,1,0,371110,24.1500,NaN,Q
318,319,1,"Wick, Miss. Mary Natalie",female,31.00,0,2,36928,164.8667,C7,S
700,701,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C
884,885,3,"Sutehall, Mr. Henry Jr",male,25.00,0,0,SOTON/OQ 392076,7.0500,NaN,S
713,714,3,"Larsson, Mr. August Viktor",male,29.00,0,0,7545,9.4833,NaN,S
40,41,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
546,547,2,"Beane, Mrs. Edward (Ethel Clarke)",female,19.00,1,0,2908,26.0000,NaN,S
450,451,2,"West, Mr. Edwy Arthur",male,36.00,1,2,C.A. 34651,27.7500,NaN,S
836,837,3,"Pasic, Mr. Jakob",male,21.00,0,0,315097,8.6625,NaN,S
261,262,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
120,121,2,"Hickman, Mr. Stanley George",male,21.00,2,0,S.O.C. 14879,73.5000,NaN,S
308,309,2,"Abelson, Mr. Samuel",male,30.00,1,0,P/PP 3381,24.0000,NaN,C
463,464,2,"Milling, Mr. Jacob Christian",male,48.00,0,0,234360,13.0000,NaN,S
549,550,2,"Davies, Master. John Morgan Jr",male,8.00,1,1,C.A. 33112,36.7500,NaN,S
456,457,1,"Millet, Mr. Francis Davis",male,65.00,0,0,13509,26.5500,E38,S
226,227,2,"Mellors, Mr. William John",male,19.00,0,0,SW/PP 751,10.5000,NaN,S
633,634,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0000,NaN,S
535,536,2,"Hart, Miss. Eva Miriam",female,7.00,0,2,F.C.C. 13529,26.2500,NaN,S
514,515,3,"Coleff, Mr. Satio",male,24.00,0,0,349209,7.4958,NaN,S
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
274,275,3,"Healy, Miss. Hanora ""Nora""",female,NaN,0,0,370375,7.7500,NaN,Q
257,258,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S
406,407,3,"Widegren, Mr. Carl/Charles Peter",male,51.00,0,0,347064,7.7500,NaN,S
332,333,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,C91,S
536,537,1,"Butt, Major. Archibald Willingham",male,45.00,0,0,113050,26.5500,B38,S
123,124,2,"Webber, Miss. Susan",female,32.50,0,0,27267,13.0000,E101,S
476,477,2,"Renouf, Mr. Peter Henry",male,34.00,1,0,31027,21.0000,NaN,S
641,642,1,"Sagesser, Mlle. Emma",female,24.00,0,0,PC 17477,69.3000,B35,C
334,335,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,NaN,S
791,792,2,"Gaskell, Mr. Alfred",male,16.00,0,0,239865,26.0000,NaN,S
471,472,3,"Cacic, Mr. Luka",male,38.00,0,0,315089,8.6625,NaN,S
366,367,1,"Warren, Mrs. Frank Manley (Anna Sophia Atkinson)",female,60.00,1,0,110813,75.2500,D37,C
41,42,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1,0,11668,21.0000,NaN,S
173,174,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
727,728,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,NaN,Q
99,100,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S
447,448,1,"Seward, Mr. Frederic Kimber",male,34.00,0,0,113794,26.5500,NaN,S
772,773,2,"Mack, Mrs. (Mary)",female,57.00,0,0,S.O./P.P. 3,10.5000,E77,S
254,255,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
64,65,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
444,445,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
201,202,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
497,498,3,"Shellard, Mr. Frederick William",male,NaN,0,0,C.A. 6212,15.1000,NaN,S
91,92,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
232,233,2,"Sjostedt, Mr. Ernst Adolf",male,59.00,0,0,237442,13.5000,NaN,S
594,595,2,"Chapman, Mr. John Henry",male,37.00,1,0,SC/AH 29037,26.0000,NaN,S
858,859,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.00,0,3,2666,19.2583,NaN,C
531,532,3,"Toufik, Mr. Nakli",male,NaN,0,0,2641,7.2292,NaN,C
567,568,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.00,0,4,349909,21.0750,NaN,S
602,603,1,"Harrington, Mr. Charles H",male,NaN,0,0,113796,42.4000,NaN,S
751,752,3,"Moor, Master. Meier",male,6.00,0,1,392096,12.4750,E121,S
702,703,3,"Barbara, Miss. Saiide",female,18.00,0,1,2691,14.4542,NaN,C
363,364,3,"Asim, Mr. Adola",male,35.00,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
606,607,3,"Karaic, Mr. Milan",male,30.00,0,0,349246,7.8958,NaN,S
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
433,434,3,"Kallio, Mr. Nikolai Erland",male,17.00,0,0,STON/O 2. 3101274,7.1250,NaN,S
317,318,2,"Moraweck, Dr. Ernest",male,54.00,0,0,29011,14.0000,NaN,S
209,210,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C
850,851,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
827,828,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
448,449,3,"Baclini, Miss. Marie Catherine",female,5.00,2,1,2666,19.2583,NaN,C
290,291,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,NaN,S
829,830,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,0,0,113572,80.0000,B28,NaN
215,216,1,"Newell, Miss. Madeleine",female,31.00,1,0,35273,113.2750,D36,C
129,130,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
396,397,3,"Olsson, Miss. Elina",female,31.00,0,0,350407,7.8542,NaN,S
849,850,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
138,139,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
826,827,3,"Lam, Mr. Len",male,NaN,0,0,1601,56.4958,NaN,S
6,7,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
95,96,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
830,831,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,NaN,C
57,58,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
887,888,1,"Graham, Miss. Margaret Edith",female,19.00,0,0,112053,30.0000,B42,S
380,381,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,NaN,C
512,513,1,"McGough, Mr. James Robert",male,36.00,0,0,PC 17473,26.2875,E25,S
832,833,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C
562,563,2,"Norman, Mr. Robert Douglas",male,28.00,0,0,218629,13.5000,NaN,S
74,75,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
538,539,3,"Risien, Mr. Samuel Beard",male,NaN,0,0,364498,14.5000,NaN,S
810,811,3,"Alexander, Mr. William",male,26.00,0,0,3474,7.8875,NaN,S
504,505,1,"Maioni, Miss. Roberta",female,16.00,0,0,110152,86.5000,B79,S
110,111,1,"Porter, Mr. Walter Chamberlain",male,47.00,0,0,110465,52.0000,C110,S
689,690,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
135,136,2,"Richard, Mr. Emile",male,23.00,0,0,SC/PARIS 2133,15.0458,NaN,C
357,358,2,"Funk, Miss. Annie Clemmer",female,38.00,0,0,237671,13.0000,NaN,S
670,671,2,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",female,40.00,1,1,29750,39.0000,NaN,S
242,243,2,"Coleridge, Mr. Reginald Charles",male,29.00,0,0,W./C. 14263,10.5000,NaN,S
285,286,3,"Stankovic, Mr. Ivan",male,33.00,0,0,349239,8.6625,NaN,C
692,693,3,"Lam, Mr. Ali",male,NaN,0,0,1601,56.4958,NaN,S
96,97,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
264,265,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
413,414,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
245,246,1,"Minahan, Dr. William Edward",male,44.00,2,0,19928,90.0000,C78,Q
105,106,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
443,444,2,"Reynaldo, Ms. Encarnacion",female,28.00,0,0,230434,13.0000,NaN,S
699,700,3,"Humblen, Mr. Adolf Mathias Nicolai Olsen",male,42.00,0,0,348121,7.6500,F G63,S
696,697,3,"Kelly, Mr. James",male,44.00,0,0,363592,8.0500,NaN,S
587,588,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.00,1,1,13567,79.2000,B41,C
82,83,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
725,726,3,"Oreskovic, Mr. Luka",male,20.00,0,0,315094,8.6625,NaN,S
771,772,3,"Jensen, Mr. Niels Peder",male,48.00,0,0,350047,7.8542,NaN,S
65,66,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
404,405,3,"Oreskovic, Miss. Marija",female,20.00,0,0,315096,8.6625,NaN,S
240,241,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
719,720,3,"Johnson, Mr. Malkolm Joackim",male,33.00,0,0,347062,7.7750,NaN,S
100,101,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
353,354,3,"Arnold-Franchi, Mr. Josef",male,25.00,1,0,349237,17.8000,NaN,S
304,305,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
405,406,2,"Gale, Mr. Shadrach",male,34.00,1,0,28664,21.0000,NaN,S
197,198,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
885,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.00,0,5,382652,29.1250,NaN,Q
675,676,3,"Edvardsson, Mr. Gustaf Hjalmar",male,18.00,0,0,349912,7.7750,NaN,S
153,154,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
345,346,2,"Brown, Miss. Amelia ""Mildred""",female,24.00,0,0,248733,13.0000,F33,S
646,647,3,"Cor, Mr. Liudevit",male,19.00,0,0,349231,7.8958,NaN,S
508,509,3,"Olsen, Mr. Henry Margido",male,28.00,0,0,C 4001,22.5250,NaN,S
75,76,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
661,662,3,"Badt, Mr. Mohamed",male,40.00,0,0,2623,7.2250,NaN,C
869,870,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S
825,826,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
833,834,3,"Augustsson, Mr. Albert",male,23.00,0,0,347468,7.8542,NaN,S
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
637,638,2,"Collyer, Mr. Harvey",male,31.00,1,1,C.A. 31921,26.2500,NaN,S
400,401,3,"Niskanen, Mr. Juha",male,39.00,0,0,STON/O 2. 3101289,7.9250,NaN,S
199,200,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.00,0,0,248747,13.0000,NaN,S
328,329,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.00,1,1,363291,20.5250,NaN,S
336,337,1,"Pears, Mr. Thomas Clinton",male,29.00,1,0,113776,66.6000,C2,S
523,524,1,"Hippach, Mrs. Louis Albert (Ida Sophia Fischer)",female,44.00,0,1,111361,57.9792,B18,C
282,283,3,"de Pelsmaeker, Mr. Alfons",male,16.00,0,0,345778,9.5000,NaN,S
564,565,3,"Meanwell, Miss. (Marion Ogden)",female,NaN,0,0,SOTON/O.Q. 392087,8.0500,NaN,S
179,180,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
698,699,1,"Thayer, Mr. John Borland",male,49.00,1,1,17421,110.8833,C68,C
784,785,3,"Ali, Mr. William",male,25.00,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S
554,555,3,"Ohman, Miss. Velin",female,22.00,0,0,347085,7.7750,NaN,S
423,424,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.00,1,1,347080,14.4000,NaN,S
58,59,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
103,104,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
256,257,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,NaN,C
705,706,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.00,0,0,250655,26.0000,NaN,S
373,374,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C
527,528,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S
121,122,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
706,707,2,"Kelly, Mrs. Florence ""Fannie""",female,45.00,0,0,223596,13.5000,NaN,S
748,749,1,"Marvin, Mr. Daniel Warner",male,19.00,1,0,113773,53.1000,D30,S
60,61,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
663,664,3,"Coleff, Mr. Peju",male,36.00,0,0,349210,7.4958,NaN,S
269,270,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S
417,418,2,"Silven, Miss. Lyyli Karoliina",female,18.00,0,2,250652,13.0000,NaN,S
528,529,3,"Salonen, Mr. Johan Werner",male,39.00,0,0,3101296,7.9250,NaN,S
356,357,1,"Bowerman, Miss. Elsie Edith",female,22.00,0,1,113505,55.0000,E33,S
119,120,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
645,646,1,"Harper, Mr. Henry Sleeper",male,48.00,1,0,PC 17572,76.7292,D33,C
569,570,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,NaN,S
59,60,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
403,404,3,"Hakkarainen, Mr. Pekka Pietari",male,28.00,1,0,STON/O2. 3101279,15.8500,NaN,S
835,836,1,"Compton, Miss. Sara Rebecca",female,39.00,1,1,PC 17756,83.1583,E49,C
445,446,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
738,739,3,"Ivanoff, Mr. Kanio",male,NaN,0,0,349201,7.8958,NaN,S
438,439,1,"Fortune, Mr. Mark",male,64.00,1,4,19950,263.0000,C23 C25 C27,S
395,396,3,"Johansson, Mr. Erik",male,22.00,0,0,350052,7.7958,NaN,S
571,572,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S
539,540,1,"Frolicher, Miss. Hedwig Margaritha",female,22.00,0,2,13568,49.5000,B39,C
61,62,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
820,821,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.00,1,1,12749,93.5000,B69,S
715,716,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.00,0,0,348124,7.6500,F G73,S
303,304,2,"Keane, Miss. Nora A",female,NaN,0,0,226593,12.3500,E101,Q
287,288,3,"Naidenoff, Mr. Penko",male,22.00,0,0,349206,7.8958,NaN,S
23,24,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.00,0,0,7552,10.5167,NaN,S
115,116,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
765,766,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.00,1,0,13502,77.9583,D11,S
154,155,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
81,82,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
399,400,2,"Trout, Mrs. William H (Jessie L)",female,28.00,0,0,240929,12.6500,NaN,S
426,427,2,"Clarke, Mrs. Charles V (Ada Maria Winfield)",female,28.00,1,0,2003,26.0000,NaN,S
46,47,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
340,341,2,"Navratil, Master. Edmond Roger",male,2.00,1,1,230080,26.0000,F2,S
114,115,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
659,660,1,"Newell, Mr. Arthur Webster",male,58.00,0,2,35273,113.2750,D48,C
875,876,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.00,0,0,2667,7.2250,NaN,C
676,677,3,"Sawyer, Mr. Frederick Charles",male,24.50,0,0,342826,8.0500,NaN,S
127,128,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
605,606,3,"Lindell, Mr. Edvard Bengtsson",male,36.00,1,0,349910,15.5500,NaN,S
267,268,3,"Persson, Mr. Ernst Ulrik",male,25.00,1,0,347083,7.7750,NaN,S
441,442,3,"Hampe, Mr. Leon",male,20.00,0,0,345769,9.5000,NaN,S
181,182,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
550,551,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
378,379,3,"Betros, Mr. Tannous",male,20.00,0,0,2648,4.0125,NaN,C
420,421,3,"Gheorgheff, Mr. Stanio",male,NaN,0,0,349254,7.8958,NaN,C
664,665,3,"Lindqvist, Mr. Eino William",male,20.00,1,0,STON/O 2. 3101285,7.9250,NaN,S
552,553,3,"O'Brien, Mr. Timothy",male,NaN,0,0,330979,7.8292,NaN,Q
729,730,3,"Ilmakangas, Miss. Pieta Sofia",female,25.00,1,0,STON/O2. 3101271,7.9250,NaN,S
13,14,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
223,224,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
278,279,3,"Rice, Master. Eric",male,7.00,4,1,382652,29.1250,NaN,Q
582,583,2,"Downton, Mr. William James",male,54.00,0,0,28403,26.0000,NaN,S
578,579,3,"Caram, Mrs. Joseph (Maria Elias)",female,NaN,1,0,2689,14.4583,NaN,C
684,685,2,"Brown, Mr. Thomas William Solomon",male,60.00,1,1,29750,39.0000,NaN,S
816,817,3,"Heininen, Miss. Wendla Maria",female,23.00,0,0,STON/O2. 3101290,7.9250,NaN,S
813,814,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,4,2,347082,31.2750,NaN,S
586,587,2,"Jarvis, Mr. John Denzil",male,47.00,0,0,237565,15.0000,NaN,S
283,284,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S
724,725,1,"Chambers, Mr. Norman Campbell",male,27.00,1,0,113806,53.1000,E8,S
142,143,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
775,776,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.00,0,0,347078,7.7500,NaN,S
196,197,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
47,48,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
542,543,3,"Andersson, Miss. Sigrid Elisabeth",female,11.00,4,2,347082,31.2750,NaN,S
331,332,1,"Partner, Mr. Austen",male,45.50,0,0,113043,28.5000,C124,S
642,643,3,"Skoog, Miss. Margit Elizabeth",female,2.00,3,2,347088,27.9000,NaN,S
622,623,3,"Nakid, Mr. Sahid",male,20.00,1,1,2653,15.7417,NaN,C
260,261,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
788,789,3,"Dean, Master. Bertram Vere",male,1.00,1,2,C.A. 2315,20.5750,NaN,S
798,799,3,"Ibrahim Shawah, Mr. Yousseff",male,30.00,0,0,2685,7.2292,NaN,C
368,369,3,"Jermyn, Miss. Annie",female,NaN,0,0,14313,7.7500,NaN,Q
488,489,3,"Somerton, Mr. Francis William",male,30.00,0,0,A.5. 18509,8.0500,NaN,S
627,628,1,"Longley, Miss. Gretchen Fiske",female,21.00,0,0,13502,77.9583,D9,S
846,847,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S
604,605,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.00,0,0,111426,26.5500,NaN,C
360,361,3,"Skoog, Mr. Wilhelm",male,40.00,1,4,347088,27.9000,NaN,S
560,561,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q
225,226,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
435,436,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
182,183,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
570,571,2,"Harris, Mr. George",male,62.00,0,0,S.W./PP 752,10.5000,NaN,S
556,557,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.00,1,0,11755,39.6000,A16,C
747,748,2,"Sinkkonen, Miss. Anna",female,30.00,0,0,250648,13.0000,NaN,S
128,129,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
388,389,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q
780,781,3,"Ayoub, Miss. Banoura",female,13.00,0,0,2687,7.2292,NaN,C
192,193,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
198,199,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
151,152,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.00,1,0,113776,66.6000,C2,S
359,360,3,"Mockler, Miss. Helen Mary ""Ellie""",female,NaN,0,0,330980,7.8792,NaN,Q
337,338,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C
7,8,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
660,661,1,"Frauenthal, Dr. Henry William",male,50.00,2,0,PC 17611,133.6500,NaN,S
70,71,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
62,63,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
27,28,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S

In [15]:
0.8*891

712.8000000000001

In [16]:
x_train.shape

(712, 11)

In [17]:
y_train

795    0
94     0
759    1
834    0
113    0
801    1
149    0
881    0
529    0
712    1
598    0
553    1
212    0
590    0
323    1
293    0
543    1
804    1
160    0
117    0
768    0
318    1
700    1
884    0
713    0
40     0
546    1
450    0
836    0
261    1
120    0
308    0
463    0
549    1
456    0
226    1
633    0
535    1
514    0
28     1
274    1
257    1
406    0
332    0
536    0
123    1
476    0
641    1
334    1
791    0
471    0
366    1
41     0
173    0
727    1
99     0
447    1
772    0
254    0
64     0
444    1
201    0
497    0
91     0
232    0
594    0
858    1
531    0
567    0
602    0
751    1
702    0
363    0
606    0
15     1
433    0
317    0
209    1
850    0
827    1
448    1
290    1
829    1
215    1
129    0
396    0
849    1
138    0
826    0
6      0
95     0
830    1
57     0
887    1
380    1
512    1
832    0
562    0
74     1
538    0
810    0
504    1
110    0
689    1
135    0
357    0
670    1
242    0
285    0
692    1
96     0
264    0
413    0
245    0
105    0
443    1
699    0
696    0
587    1
82     1
725    0
771    0
65     1
404    0
240    0
719    0
100    0
353    0
304    0
405    0
197    0
885    0
675    0
153    0
345    1
646    0
508    0
75     0
661    0
869    1
825    0
833    0
10     1
637    0
400    1
199    0
328    1
336    0
523    1
282    0
564    0
179    0
698    0
784    0
554    1
423    0
58     1
103    0
256    1
705    0
373    0
527    0
121    0
706    1
748    0
60     0
663    0
269    1
417    1
528    0
356    1
119    0
645    1
569    1
59     0
403    0
835    1
445    1
738    0
438    0
395    0
571    1
539    1
61     1
820    1
715    0
303    1
287    0
23     1
882    0
115    0
765    1
154    0
81     1
399    1
426    1
46     0
340    1
114    0
659    0
875    1
676    0
127    1
605    0
267    1
441    0
181    0
550    1
378    0
420    0
664    1
552    0
729    0
13     0
223    0
278    0
582    0
578    0
684    0
816    0
813    0
586    0
283    1
724    1
142    1
775    0
196    0
47     1
542    0
331    0
642    0
622    1
260    0
788    1
798    0
368    1
488    0
627    1
846    0
604    1
360    0
560    0
225    0
435    1
182    0
570    1
556    1
747    1
128    1
388    0
780    1
192    1
198    1
151    1
359    1
337    1
7      0
660    1
70     0
62     0
27     0
2      1
80     0
770    0
133    1
38     0
365    0
85     1
134    0
547    1
19     1
200    0
525    0
482    0
839    1
168    0
268    1
271    1
757    0
311    1
389    1
494    0
584    0
665    0
534    0
565    0
214    0
484    1
29     0
758    0
647    1
409    0
588    0
616    0
166    1
533    1
668    0
292    0
851    0
71     0
16     0
193    1
325    1
855    1
688    0
371    0
418    0
393    1
653    1
147    0
358    1
507    1
541    0
216    1
322    1
440    1
673    1
387    1
585    1
170    0
286    1
872    0
361    0
612    1
506    1
335    0
427    1
281    0
402    0
131    0
87     0
109    1
709    1
124    0
630    1
156    1
785    0
734    0
618    1
669    1
169    0
126    0
310    1
176    0
83     0
860    0
728    0
781    1
678    0
475    0
686    0
790    0
496    1
865    1
18     0
888    0
718    0
811    0
744    1
239    0
677    1
174    0
815    0
392    0
4      0
148    0
703    0
495    0
98     1
609    1
890    0
777    1
88     1
421    0
831    1
540    1
464    0
493    0
730    1
291    1
737    1
145    0
576    1
460    1
329    1
848    0
526    1
672    0
626    0
650    0
419    0
575    0
206    0
608    1
312    0
487    0
442    0
364    0
742    1
624    0
852    0
187    1
754    1
276    0
814    0
73     0
740    1
428    0
233    1
489    1
593    0
14     0
629    0
382    0
180    0
800    0
24     0
877    0
518    1
802    1
422    0
381    1
886    0
583    0
330    1
636    0
298    1
369    1
859    0
503    0
248    1
92     0
640    0
824    0
280    0
416    1
667    0
78     1
56     1
140    0
490    0
321    0
453    1
35     0
191    0
130    0
773    0
644    1
794    0
203    0
726    1
823    1
157    0
425    0
611    0
500    0
301    1
376    1
735    0
106    1
339    0
763    1
789    0
762    1
79     1
711    0
767    0
437    1
430    1
638    0
32     1
229    0
510    1
159    0
486    1
693    0
195    1
236    0
143    0
164    0
390    1
272    1
683    0
296    0
436    0
45     0
31     1
797    1
90     0
623    0
856    1
217    0
617    0
219    0
613    0
639    0
515    0
796    1
178    0
49     0
597    0
634    0
643    1
733    0
779    1
457    1
799    0
752    0
66     1
42     0
189    0
48     0
761    0
805    0
454    0
750    1
172    1
162    0
258    1
54     0
186    1
397    0
289    1
682    0
455    1
52     1
452    0
838    1
327    1
377    0
812    0
431    1
0      0
483    1
806    0
26     0
385    0
210    0
299    1
840    0
227    0
398    0
481    0
84     1
652    0
205    0
841    0
499    0
822    0
354    0
161    1
55     1
234    0
141    1
714    0
33     0
559    1
577    1
691    1
246    0
251    0
107    1
679    1
132    0
566    0
306    1
34     0
51     0
434    0
11     1
63     0
704    0
716    1
167    0
439    0
125    1
491    0
786    1
111    0
793    0
843    0
319    1
545    0
451    0
344    0
8      1
599    1
116    0
355    0
592    0
346    1
769    0
745    0
555    0
265    0
244    0
513    1
333    0
213    0
446    1
108    0
466    0
870    0
868    0
300    1
501    0
717    1
208    1
338    1
628    0
349    0
391    1
655    0
614    0
411    0
76     0
610    0
93     0
477    0
568    0
9      1
372    0
150    0
603    0
288    1
221    0
821    1
845    0
756    0
238    0
776    0
343    0
625    0
563    0
472    1
580    1
687    0
275    1
342    0
220    1
469    1
766    0
656    0
247    1
755    1
760    0
863    0
666    0
67     0
558    1
731    0
866    1
579    1
844    0
671    0
20     0
809    1
505    0
694    0
753    0
509    1
102    0
273    0
632    1
1      1
792    0
252    0
230    1
152    0
876    0
302    0
498    0
690    1
253    0
379    0
112    0
478    0
819    0
807    0
222    0
259    1
880    1
184    1
480    0
69     0
263    0
207    1
520    1
473    1
462    0
511    0
163    0
732    0
50     0
237    1
307    1
516    1
137    0
873    0
370    1
465    0
783    0
243    0
407    1
375    1
470    0
3      1
818    0
522    0
211    1
188    0
175    0
Name: Survived, dtype: int64

In [18]:
y_test

155    0
459    0
309    1
595    0
449    1
429    1
22     1
551    0
722    0
136    1
485    0
351    0
854    0
77     0
185    0
701    1
532    0
736    0
651    1
572    1
277    0
5      0
517    0
314    0
218    1
607    1
341    1
43     1
720    1
294    0
883    0
279    1
424    0
39     1
808    0
680    0
654    0
408    0
104    0
383    1
177    0
778    0
695    0
53     1
86     0
615    1
561    0
635    1
548    0
36     1
284    0
194    1
250    0
374    0
262    0
410    0
144    0
204    1
316    1
235    0
782    0
601    0
367    1
249    0
461    0
432    1
619    0
708    1
348    1
297    0
324    0
746    0
350    0
764    0
458    1
857    1
320    0
313    0
12     0
620    0
871    1
649    1
707    1
414    1
165    1
362    0
648    0
146    1
231    0
674    0
862    1
878    0
787    0
600    1
867    0
889    1
97     1
537    1
295    0
589    0
697    1
401    0
30     0
631    0
37     0
544    0
474    0
743    0
530    1
741    0
574    0
847    0
657    0
710    1
118    0
315    1
270    0
158    0
621    1
581    1
72     0
573    1
828    1
89     0
415    0
723    0
224    1
326    0
68     1
139    0
591    1
861    0
874    1
681    1
502    0
596    1
412    1
479    1
21     1
305    1
557    0
467    0
519    0
386    0
183    1
524    0
492    0
347    1
749    0
190    1
202    0
25     1
101    0
685    0
384    0
817    0
879    1
44     1
739    0
662    0
122    0
721    0
171    0
837    0
17     1
228    0
266    0
468    0
803    1
853    1
658    0
255    1
774    1
394    1
241    1
864    0
352    0
521    0
842    1
Name: Survived, dtype: int64

## Application of Supervised Learning 
 
 Notes in notebook

## Data Preprocessing For Supervised Learning

In [19]:
iris = pd.read_csv('iris.csv')

In [20]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [21]:
iris.shape

(150, 6)

In [22]:
# Define the Independent and Depended variable 

x= iris[['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y= iris['Species']

In [23]:
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [24]:
x.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [25]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [26]:
# find out  any missing values in the dataset

iris.notnull().sum()

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

**Since there are no missing values in th dataset we will not do the Imputation**

In [27]:
# One hot encoding

#from sklern.preprocessing import OneHotEncoder
#ohe = OneHotEncoder()
#ohe = fit_transform(x)

#FOR SHORT FORM

**Use Pandas**
- pd.get_dummies(df)

We will skip OneHotEncoding part beacause in out dataset there are no catogorical values

In [28]:
# Split the dataset  into train and test

from sklearn.model_selection import train_test_split

x_train,x_test, y_train,y_test = train_test_split(x,y, test_size=0.20, random_state=80)

In [29]:
x_train

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
45    46            4.8           3.0            1.4           0.3
78    79            6.0           2.9            4.5           1.5
25    26            5.0           3.0            1.6           0.2
70    71            5.9           3.2            4.8           1.8
138  139            6.0           3.0            4.8           1.8
71    72            6.1           2.8            4.0           1.3
37    38            4.9           3.1            1.5           0.1
75    76            6.6           3.0            4.4           1.4
93    94            5.0           2.3            3.3           1.0
0      1            5.1           3.5            1.4           0.2
48    49            5.3           3.7            1.5           0.2
12    13            4.8           3.0            1.4           0.1
72    73            6.3           2.5            4.9           1.5
55    56            5.7           2.8            4.5           1.3
77    78            6.7           3.0            5.0           1.7
57    58            4.9           2.4            3.3           1.0
61    62            5.9           3.0            4.2           1.5
33    34            5.5           4.2            1.4           0.2
130  131            7.4           2.8            6.1           1.9
107  108            7.3           2.9            6.3           1.8
65    66            6.7           3.1            4.4           1.4
129  130            7.2           3.0            5.8           1.6
23    24            5.1           3.3            1.7           0.5
63    64            6.1           2.9            4.7           1.4
113  114            5.7           2.5            5.0           2.0
96    97            5.7           2.9            4.2           1.3
101  102            5.8           2.7            5.1           1.9
64    65            5.6           2.9            3.6           1.3
73    74            6.1           2.8            4.7           1.2
139  140            6.9           3.1            5.4           2.1
43    44            5.0           3.5            1.6           0.6
79    80            5.7           2.6            3.5           1.0
127  128            6.1           3.0            4.9           1.8
52    53            6.9           3.1            4.9           1.5
142  143            5.8           2.7            5.1           1.9
62    63            6.0           2.2            4.0           1.0
38    39            4.4           3.0            1.3           0.2
35    36            5.0           3.2            1.2           0.2
124  125            6.7           3.3            5.7           2.1
44    45            5.1           3.8            1.9           0.4
144  145            6.7           3.3            5.7           2.5
34    35            4.9           3.1            1.5           0.1
89    90            5.5           2.5            4.0           1.3
131  132            7.9           3.8            6.4           2.0
59    60            5.2           2.7            3.9           1.4
11    12            4.8           3.4            1.6           0.2
126  127            6.2           2.8            4.8           1.8
76    77            6.8           2.8            4.8           1.4
56    57            6.3           3.3            4.7           1.6
120  121            6.9           3.2            5.7           2.3
103  104            6.3           2.9            5.6           1.8
22    23            4.6           3.6            1.0           0.2
80    81            5.5           2.4            3.8           1.1
6      7            4.6           3.4            1.4           0.3
32    33            5.2           4.1            1.5           0.1
97    98            6.2           2.9            4.3           1.3
141  142            6.9           3.1            5.1           2.3
95    96            5.7           3.0            4.2           1.2
87    88            6.3           2.3            4.4           1.3
128  129            6.4           2.8            5.6           2.1
88    89            5.6           3.0            4.1           1.3
68    69            6.2           2.2            4.5           1.5
47    48            4.6           3.2            1.4           0.2
19    20            5.1           3.8            1.5           0.3
86    87            6.7           3.1            4.7           1.5
92    93            5.8           2.6            4.0           1.2
85    86            6.0           3.4            4.5           1.6
111  112            6.4           2.7            5.3           1.9
27    28            5.2           3.5            1.5           0.2
104  105            6.5           3.0            5.8           2.2
132  133            6.4           2.8            5.6           2.2
26    27            5.0           3.4            1.6           0.4
106  107            4.9           2.5            4.5           1.7
121  122            5.6           2.8            4.9           2.0
91    92            6.1           3.0            4.6           1.4
134  135            6.1           2.6            5.6           1.4
67    68            5.8           2.7            4.1           1.0
117  118            7.7           3.8            6.7           2.2
31    32            5.4           3.4            1.5           0.4
20    21            5.4           3.4            1.7           0.2
41    42            4.5           2.3            1.3           0.3
16    17            5.4           3.9            1.3           0.4
54    55            6.5           2.8            4.6           1.5
118  119            7.7           2.6            6.9           2.3
17    18            5.1           3.5            1.4           0.3
136  137            6.3           3.4            5.6           2.4
1      2            4.9           3.0            1.4           0.2
146  147            6.3           2.5            5.0           1.9
102  103            7.1           3.0            5.9           2.1
24    25            4.8           3.4            1.9           0.2
9     10            4.9           3.1            1.5           0.1
46    47            5.1           3.8            1.6           0.2
143  144            6.8           3.2            5.9           2.3
135  136            7.7           3.0            6.1           2.3
123  124            6.3           2.7            4.9           1.8
112  113            6.8           3.0            5.5           2.1
98    99            5.1           2.5            3.0           1.1
94    95            5.6           2.7            4.2           1.3
140  141            6.7           3.1            5.6           2.4
39    40            5.1           3.4            1.5           0.2
147  148            6.5           3.0            5.2           2.0
145  146            6.7           3.0            5.2           2.3
69    70            5.6           2.5            3.9           1.1
7      8            5.0           3.4            1.5           0.2
8      9            4.4           2.9            1.4           0.2
148  149            6.2           3.4            5.4           2.3
108  109            6.7           2.5            5.8           1.8
51    52            6.4           3.2            4.5           1.5
4      5            5.0           3.6            1.4           0.2
110  111            6.5           3.2            5.1           2.0
137  138            6.4           3.1            5.5           1.8
105  106            7.6           3.0            6.6           2.1
116  117            6.5           3.0            5.5           1.8
114  115            5.8           2.8            5.1           2.4
133  134            6.3           2.8            5.1           1.5
15    16            5.7           4.4            1.5           0.4
119  120            6.0           2.2            5.0           1.5
3      4            4.6           3.1            1.5           0.2
50    51            7.0           3.2            4.7           1.4
10    11            5.4           3.7            1.5           0.2

In [30]:
y_train

45         Iris-setosa
78     Iris-versicolor
25         Iris-setosa
70     Iris-versicolor
138     Iris-virginica
71     Iris-versicolor
37         Iris-setosa
75     Iris-versicolor
93     Iris-versicolor
0          Iris-setosa
48         Iris-setosa
12         Iris-setosa
72     Iris-versicolor
55     Iris-versicolor
77     Iris-versicolor
57     Iris-versicolor
61     Iris-versicolor
33         Iris-setosa
130     Iris-virginica
107     Iris-virginica
65     Iris-versicolor
129     Iris-virginica
23         Iris-setosa
63     Iris-versicolor
113     Iris-virginica
96     Iris-versicolor
101     Iris-virginica
64     Iris-versicolor
73     Iris-versicolor
139     Iris-virginica
43         Iris-setosa
79     Iris-versicolor
127     Iris-virginica
52     Iris-versicolor
142     Iris-virginica
62     Iris-versicolor
38         Iris-setosa
35         Iris-setosa
124     Iris-virginica
44         Iris-setosa
144     Iris-virginica
34         Iris-setosa
89     Iris-versicolor
131     Iris-virginica
59     Iris-versicolor
11         Iris-setosa
126     Iris-virginica
76     Iris-versicolor
56     Iris-versicolor
120     Iris-virginica
103     Iris-virginica
22         Iris-setosa
80     Iris-versicolor
6          Iris-setosa
32         Iris-setosa
97     Iris-versicolor
141     Iris-virginica
95     Iris-versicolor
87     Iris-versicolor
128     Iris-virginica
88     Iris-versicolor
68     Iris-versicolor
47         Iris-setosa
19         Iris-setosa
86     Iris-versicolor
92     Iris-versicolor
85     Iris-versicolor
111     Iris-virginica
27         Iris-setosa
104     Iris-virginica
132     Iris-virginica
26         Iris-setosa
106     Iris-virginica
121     Iris-virginica
91     Iris-versicolor
134     Iris-virginica
67     Iris-versicolor
117     Iris-virginica
31         Iris-setosa
20         Iris-setosa
41         Iris-setosa
16         Iris-setosa
54     Iris-versicolor
118     Iris-virginica
17         Iris-setosa
136     Iris-virginica
1          Iris-setosa
146     Iris-virginica
102     Iris-virginica
24         Iris-setosa
9          Iris-setosa
46         Iris-setosa
143     Iris-virginica
135     Iris-virginica
123     Iris-virginica
112     Iris-virginica
98     Iris-versicolor
94     Iris-versicolor
140     Iris-virginica
39         Iris-setosa
147     Iris-virginica
145     Iris-virginica
69     Iris-versicolor
7          Iris-setosa
8          Iris-setosa
148     Iris-virginica
108     Iris-virginica
51     Iris-versicolor
4          Iris-setosa
110     Iris-virginica
137     Iris-virginica
105     Iris-virginica
116     Iris-virginica
114     Iris-virginica
133     Iris-virginica
15         Iris-setosa
119     Iris-virginica
3          Iris-setosa
50     Iris-versicolor
10         Iris-setosa
Name: Species, dtype: object

In [31]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [32]:
x_train

array([[-0.74191039, -1.33015002, -0.096223  , -1.42657447, -1.25758547],
       [ 0.01180052,  0.12977073, -0.33187118,  0.36870869,  0.33653696],
       [-1.19870488, -1.0868299 , -0.096223  , -1.31074975, -1.390429  ],
       [-0.17091727,  0.00811067,  0.37507334,  0.54244577,  0.73506756],
       [ 1.382184  ,  0.12977073, -0.096223  ,  0.54244577,  0.73506756],
       [-0.14807755,  0.2514308 , -0.56751935,  0.07914689,  0.07084989],
       [-0.92462818, -1.20848996,  0.13942517, -1.36866211, -1.52327254],
       [-0.05671865,  0.85973111, -0.096223  ,  0.31079633,  0.20369342],
       [ 0.35439639, -1.0868299 , -1.74576021, -0.32623963, -0.32768072],
       [-1.76969799, -0.96516983,  1.08201786, -1.42657447, -1.390429  ],
       [-0.67339121, -0.72184971,  1.55331421, -1.36866211, -1.390429  ],
       [-1.4956213 , -1.33015002, -0.096223  , -1.42657447, -1.52327254],
       [-0.12523782,  0.49475092, -1.27446387,  0.60035813,  0.33653696],
       [-0.51351314, -0.23520946, -0.56751935,  0.36870869,  0.07084989],
       [-0.0110392 ,  0.98139118, -0.096223  ,  0.65827049,  0.60222403],
       [-0.46783369, -1.20848996, -1.51011204, -0.32623963, -0.32768072],
       [-0.37647479,  0.00811067, -0.096223  ,  0.19497161,  0.33653696],
       [-1.01598708, -0.47852958,  2.73155507, -1.42657447, -1.390429  ],
       [ 1.1994662 ,  1.83301162, -0.56751935,  1.29530645,  0.8679111 ],
       [ 0.67415254,  1.71135155, -0.33187118,  1.41113117,  0.73506756],
       [-0.2851159 ,  0.98139118,  0.13942517,  0.31079633,  0.20369342],
       [ 1.17662648,  1.58969149, -0.096223  ,  1.12156937,  0.46938049],
       [-1.24438433, -0.96516983,  0.61072151, -1.25283739, -0.9918984 ],
       [-0.33079534,  0.2514308 , -0.33187118,  0.48453341,  0.20369342],
       [ 0.81119089, -0.23520946, -1.27446387,  0.65827049,  1.00075463],
       [ 0.42291557, -0.23520946, -0.33187118,  0.19497161,  0.07084989],
       [ 0.53711419, -0.11354939, -0.80316752,  0.71618285,  0.8679111 ],
       [-0.30795562, -0.35686952, -0.33187118, -0.15250255,  0.07084989],
       [-0.1023981 ,  0.2514308 , -0.56751935,  0.48453341, -0.06199365],
       [ 1.40502373,  1.2247113 ,  0.13942517,  0.88991993,  1.13359817],
       [-0.78758984, -1.0868299 ,  1.08201786, -1.31074975, -0.85905486],
       [ 0.03464025, -0.23520946, -1.0388157 , -0.21041491, -0.32768072],
       [ 1.13094703,  0.2514308 , -0.096223  ,  0.60035813,  0.73506756],
       [-0.58203232,  1.2247113 ,  0.13942517,  0.60035813,  0.33653696],
       [ 1.4735429 , -0.11354939, -0.80316752,  0.71618285,  0.8679111 ],
       [-0.35363507,  0.12977073, -1.98140839,  0.07914689, -0.32768072],
       [-0.90178846, -1.81679027, -0.096223  , -1.48448683, -1.390429  ],
       [-0.97030763, -1.0868299 ,  0.37507334, -1.54239919, -1.390429  ],
       [ 1.06242786,  0.98139118,  0.61072151,  1.06365701,  1.13359817],
       [-0.76475011, -0.96516983,  1.78896238, -1.13701267, -1.12474193],
       [ 1.51922235,  0.98139118,  0.61072151,  1.06365701,  1.66497231],
       [-0.99314736, -1.20848996,  0.13942517, -1.36866211, -1.52327254],
       [ 0.26303749, -0.47852958, -1.27446387,  0.07914689,  0.07084989],
       [ 1.22230593,  2.44131193,  1.78896238,  1.46904353,  1.00075463],
       [-0.42215424, -0.84350977, -0.80316752,  0.02123453,  0.20369342],
       [-1.51846102, -1.33015002,  0.84636969, -1.31074975, -1.390429  ],
       [ 1.10810731,  0.37309086, -0.56751935,  0.54244577,  0.73506756],
       [-0.03387892,  1.10305124, -0.56751935,  0.54244577,  0.20369342],
       [-0.49067342,  0.49475092,  0.61072151,  0.48453341,  0.46938049],
       [ 0.97106896,  1.2247113 ,  0.37507334,  1.06365701,  1.39928524],
       [ 0.58279364,  0.49475092, -0.33187118,  1.00574465,  0.73506756],
       [-1.26722405, -1.57347015,  1.31766603, -1.65822391, -1.390429  ],
       [ 0.05747997, -0.47852958, -1.51011204, -0.03667783, -0.19483718],
       [-1.63265965, -1.57347015,  0.84636969, -1.42657447, -1.25758547],
       [-1.03882681, -0.84350977,  2.4959069 , -1.36866211, -1.52327254],
       [ 0.44575529,  0.37309086, -0.33187118,  0.25288397,  0.07084989],
       [ 1.45070317,  1.2247113 ,  0.13942517,  0.71618285,  1.39928524],
       [ 0.40007584, -0.23520946, -0.096223  ,  0.19497161, -0.06199365],
       [ 0.21735805,  0.49475092, -1.74576021,  0.31079633,  0.07084989],
       [ 1.15378675,  0.61641099, -0.56751935,  1.00574465,  1.13359817],
       [ 0.24019777, -0.35686952, -0.096223  ,  0.13705925,  0.07084989],
       [-0.21659672,  0.37309086, -1.98140839,  0.36870869,  0.33653696],
       [-0.69623094, -1.57347015,  0.37507334, -1.42657447, -1.390429  ],
       [-1.33574323, -0.96516983,  1.78896238, -1.36866211, -1.25758547],
       [ 0.19451832,  0.98139118,  0.13942517,  0.48453341,  0.33653696],
       [ 0.33155667, -0.11354939, -1.0388157 ,  0.07914689, -0.06199365],
       [ 0.1716786 ,  0.12977073,  0.84636969,  0.36870869,  0.46938049],
       [ 0.76551144,  0.61641099, -0.80316752,  0.83200757,  0.8679111 ],
       [-1.15302543, -0.84350977,  1.08201786, -1.36866211, -1.390429  ],
       [ 0.60563336,  0.73807105, -0.096223  ,  1.12156937,  1.2664417 ],
       [ 1.24514565,  0.61641099, -0.56751935,  1.00574465,  1.2664417 ],
       [-1.17586515, -1.0868299 ,  0.84636969, -1.31074975, -1.12474193],
       [ 0.65131281, -1.20848996, -1.27446387,  0.36870869,  0.60222403],
       [ 0.99390868, -0.35686952, -0.56751935,  0.60035813,  1.00075463],
       [ 0.30871694,  0.2514308 , -0.096223  ,  0.42662105,  0.20369342],
       [ 1.2908251 ,  0.2514308 , -1.0388157 ,  1.00574465,  0.20369342],
       [-0.23943645, -0.11354939, -0.80316752,  0.13705925, -0.32768072],
       [ 0.90254978,  2.19799181,  1.78896238,  1.64278061,  1.2664417 ],
       [-1.06166653, -0.60018964,  0.84636969, -1.36866211, -1.12474193],
       [-1.3129035 , -0.60018964,  0.84636969, -1.25283739, -1.390429  ],
       [-0.83326929, -1.69513021, -1.74576021, -1.48448683, -1.25758547],
       [-1.4042624 , -0.60018964,  2.02461055, -1.48448683, -1.12474193],
       [-0.53635287,  0.73807105, -0.56751935,  0.42662105,  0.33653696],
       [ 0.92538951,  2.19799181, -1.0388157 ,  1.75860534,  1.39928524],
       [-1.38142268, -0.96516983,  1.08201786, -1.42657447, -1.25758547],
       [ 1.33650455,  0.49475092,  0.84636969,  1.00574465,  1.53212877],
       [-1.74685827, -1.20848996, -0.096223  , -1.42657447, -1.390429  ],
       [ 1.5649018 ,  0.49475092, -1.27446387,  0.65827049,  0.8679111 ],
       [ 0.55995391,  1.46803143, -0.096223  ,  1.17948173,  1.13359817],
       [-1.2215446 , -1.33015002,  0.84636969, -1.13701267, -1.390429  ],
       [-1.56414047, -1.20848996,  0.13942517, -1.36866211, -1.52327254],
       [-0.71907066, -0.96516983,  1.78896238, -1.31074975, -1.390429  ],
       [ 1.49638262,  1.10305124,  0.37507334,  1.17948173,  1.39928524],
       [ 1.31366483,  2.19799181, -0.096223  ,  1.29530645,  1.39928524],
       [ 1.03958813,  0.49475092, -0.80316752,  0.60035813,  0.73506756],
       [ 0.78835116,  1.10305124, -0.096223  ,  0.94783229,  1.13359817],
       [ 0.46859502, -0.96516983, -1.27446387, -0.49997671, -0.19483718],
       [ 0.37723612, -0.35686952, -0.80316752,  0.19497161,  0.07084989],
       [ 1.42786345,  0.98139118,  0.13942517,  1.00574465,  1.53212877],
       [-0.87894874, -0.96516983,  0.84636969, -1.36866211, -1.390429  ],
       [ 1.58774152,  0.73807105, -0.096223  ,  0.77409521,  1.00075463],
       [ 1.54206207,  0.98139118, -0.096223  ,  0.77409521,  1.39928524],
       [-0.193757  , -0.35686952, -1.27446387,  0.02123453, -0.19483718],
       [-1.60981992, -1.0868299 ,  0.84636969, -1.36866211, -1.390429  ],
       [-1.5869802 , -1.81679027, -0.33187118, -1.42657447, -1.390429  ],
       [ 1.61058125,  0.37309086,  0.84636969,  0.88991993,  1.39928524],
       [ 0.69699226,  0.98139118, -1.27446387,  1.12156937,  0.73506756],
       [-0.60487204,  0.61641099,  0.37507334,  0.36870869,  0.33653696],
       [-1.6783391 , -1.0868299 ,  1.31766603, -1.42657447, -1.390429  ],
       [ 0.74267171,  0.73807105,  0.37507334,  0.71618285,  1.00075463],
       [ 1.35934428,  0.61641099,  0.13942517,  0.94783229,  0.73506756],
       [ 0.62847309,  2.07633174, -0.096223  ,  1.58486825,  1.13359817],
       [ 0.87971006,  0.73807105, -0.096223  ,  0.94783229,  0.73506756],
       [ 0.83403061, -0.11354939, -0.56751935,  0.71618285,  1.53212877],
       [ 1.26798538,  0.49475092, -0.56751935,  0.71618285,  0.33653696],
       [-1.42710213, -0.23520946,  3.20285142, -1.36866211, -1.12474193],
       [ 0.94822923,  0.12977073, -1.98140839,  0.65827049,  0.33653696],
       [-1.70117882, -1.57347015,  0.13942517, -1.36866211, -1.390429  ],
       [-0.62771176,  1.34637136,  0.37507334,  0.48453341,  0.20369342],
       [-1.54130075, -0.60018964,  1.55331421, -1.36866211, -1.390429  ]])

In [33]:
x_test

array([[-0.65055149, -1.0868299 ,  0.61072151, -1.42657447, -1.390429  ],
       [-0.81042956, -1.81679027,  0.37507334, -1.48448683, -1.390429  ],
       [-0.94746791, -0.47852958,  1.08201786, -1.48448683, -1.390429  ],
       [-0.07955837,  0.61641099, -0.33187118,  0.25288397,  0.07084989],
       [-1.65549937, -0.60018964,  2.02461055, -1.25283739, -1.12474193],
       [ 0.49143474, -0.23520946, -0.56751935,  0.13705925,  0.07084989],
       [ 0.12599915,  0.12977073, -0.80316752,  0.71618285,  0.46938049],
       [-1.35858295, -0.23520946,  1.78896238, -1.25283739, -1.25758547],
       [-1.44994185, -0.11354939,  2.26025873, -1.54239919, -1.390429  ],
       [-1.10734598, -1.45181009,  0.37507334, -1.31074975, -1.390429  ],
       [ 1.08526758,  1.58969149,  0.37507334,  1.23739409,  0.73506756],
       [ 0.10315942, -0.11354939, -0.80316752,  0.02123453, -0.06199365],
       [-0.39931452, -1.0868299 , -2.45270473, -0.21041491, -0.32768072],
       [-1.13018571, -0.84350977,  0.84636969, -1.42657447, -1.390429  ],
       [ 0.71983199,  1.58969149,  1.31766603,  1.29530645,  1.66497231],
       [ 0.28587722, -0.47852958, -1.0388157 ,  0.31079633, -0.06199365],
       [-1.72401855, -1.45181009,  0.37507334, -1.48448683, -1.390429  ],
       [-0.55919259, -0.47852958, -1.74576021,  0.07914689,  0.07084989],
       [-1.29006378, -0.96516983,  1.55331421, -1.36866211, -1.12474193],
       [-1.47278157, -1.93845034, -0.096223  , -1.60031155, -1.52327254],
       [-0.85610901, -1.0868299 ,  1.08201786, -1.48448683, -1.25758547],
       [ 0.85687033,  0.61641099,  0.37507334,  0.83200757,  1.39928524],
       [ 1.01674841,  2.19799181, -0.56751935,  1.64278061,  1.00075463],
       [ 0.14883887, -0.60018964, -0.096223  ,  0.36870869,  0.33653696],
       [-0.44499397,  0.85973111, -0.33187118,  0.42662105,  0.07084989],
       [-1.08450626, -1.33015002,  0.13942517, -1.31074975, -1.390429  ],
       [ 1.63342097,  0.00811067, -0.096223  ,  0.71618285,  0.73506756],
       [-0.26227617, -0.35686952, -0.096223  ,  0.36870869,  0.33653696],
       [ 0.0803197 , -0.47852958, -1.51011204, -0.09459019, -0.32768072],
       [ 0.51427447,  0.49475092,  0.61072151,  1.23739409,  1.66497231]])

# Preparing & Shaping Data

- How to prepare the Data

In [72]:
df = pd.read_csv('titanic.csv')

In [73]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<b> Observations </b>

- Here, we Pclass,name ,sex, Sibsp(no. of siblings),Parch(parent & child) , Ticket as categories.

- We will drop Names which is not important in prediction of Survival rate.

In [36]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

**Observations**

- For PassengerId the description is not Applicable

- There mean age is 29 and max is 80

- In fares also could be Outliers

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- Dataset has null values

# Data Preprocessing

In [38]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [39]:
(df['Parch'] + df['SibSp']).head()

0    1
1    1
2    0
3    1
4    0
dtype: int64

- let's create a variable called **Travelealone** . 0 When the person is travelling alone and 1 otherwise

In [40]:
df['Travelalone'] = np.where(df['Parch'] + df['SibSp'] > 0, 0 , 1)

In [65]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [42]:
# Now that we have the variable credited we will drop all the unnecessary columns

In [74]:
df1 = df.drop(['PassengerId','Name','SibSp','Parch','Fare','Cabin'], axis= 1)

In [75]:
df1.head()

   Survived  Pclass     Sex   Age            Ticket Embarked
0         0       3    male  22.0         A/5 21171        S
1         1       1  female  38.0          PC 17599        C
2         1       3  female  26.0  STON/O2. 3101282        S
3         1       1  female  35.0            113803        S
4         0       3    male  35.0            373450        S

In [45]:
df1.isnull().sum()

Survived         0
Pclass           0
Sex              0
Age            177
Ticket           0
Embarked         2
Travelalone      0
dtype: int64

- Age and Embarked are the two values where values are missing

In [46]:
# Let's try to replace the missing values

df1['Age'].fillna(df1['Age'].median(skipna=True), inplace=True)

In [47]:
df1.isnull().sum()

Survived       0
Pclass         0
Sex            0
Age            0
Ticket         0
Embarked       2
Travelalone    0
dtype: int64

In [48]:
df1.groupby('Embarked').count()['Survived']

Embarked
C    168
Q     77
S    644
Name: Survived, dtype: int64

In [76]:
# There are Categorical values in the dataset as well. We will have to change them

df_titanic = pd.get_dummies(df1, columns=['Pclass','Embarked','Sex'],drop_first=True)

In [77]:
df_titanic.head()

,Survived,Age,Ticket,Pclass_2,Pclass_3,Embarked_Q,Embarked_S,Sex_male
0,0,22.0,A/5 21171,False,True,False,True,True
1,1,38.0,PC 17599,False,False,False,False,False
2,1,26.0,STON/O2. 3101282,False,True,False,True,False
3,1,35.0,113803,False,False,False,True,False
4,0,35.0,373450,False,True,False,True,True

In [51]:
df1['Age']

0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
5      28.00
6      54.00
7       2.00
8      27.00
9      14.00
10      4.00
11     58.00
12     20.00
13     39.00
14     14.00
15     55.00
16      2.00
17     28.00
18     31.00
19     28.00
20     35.00
21     34.00
22     15.00
23     28.00
24      8.00
25     38.00
26     28.00
27     19.00
28     28.00
29     28.00
30     40.00
31     28.00
32     28.00
33     66.00
34     28.00
35     42.00
36     28.00
37     21.00
38     18.00
39     14.00
40     40.00
41     27.00
42     28.00
43      3.00
44     19.00
45     28.00
46     28.00
47     28.00
48     28.00
49     18.00
50      7.00
51     21.00
52     49.00
53     29.00
54     65.00
55     28.00
56     21.00
57     28.50
58      5.00
59     11.00
60     22.00
61     38.00
62     45.00
63      4.00
64     28.00
65     28.00
66     29.00
67     19.00
68     17.00
69     26.00
70     32.00
71     16.00
72     21.00
73     26.00
74     32.00
75     25.00
76     28.00
77     28.00
78      0.83
79     30.00
80     22.00
81     29.00
82     28.00
83     28.00
84     17.00
85     33.00
86     16.00
87     28.00
88     23.00
89     24.00
90     29.00
91     20.00
92     46.00
93     26.00
94     59.00
95     28.00
96     71.00
97     23.00
98     34.00
99     34.00
100    28.00
101    28.00
102    21.00
103    33.00
104    37.00
105    28.00
106    21.00
107    28.00
108    38.00
109    28.00
110    47.00
111    14.50
112    22.00
113    20.00
114    17.00
115    21.00
116    70.50
117    29.00
118    24.00
119     2.00
120    21.00
121    28.00
122    32.50
123    32.50
124    54.00
125    12.00
126    28.00
127    24.00
128    28.00
129    45.00
130    33.00
131    20.00
132    47.00
133    29.00
134    25.00
135    23.00
136    19.00
137    37.00
138    16.00
139    24.00
140    28.00
141    22.00
142    24.00
143    19.00
144    18.00
145    19.00
146    27.00
147     9.00
148    36.50
149    42.00
150    51.00
151    22.00
152    55.50
153    40.50
154    28.00
155    51.00
156    16.00
157    30.00
158    28.00
159    28.00
160    44.00
161    40.00
162    26.00
163    17.00
164     1.00
165     9.00
166    28.00
167    45.00
168    28.00
169    28.00
170    61.00
171     4.00
172     1.00
173    21.00
174    56.00
175    18.00
176    28.00
177    50.00
178    30.00
179    36.00
180    28.00
181    28.00
182     9.00
183     1.00
184     4.00
185    28.00
186    28.00
187    45.00
188    40.00
189    36.00
190    32.00
191    19.00
192    19.00
193     3.00
194    44.00
195    58.00
196    28.00
197    42.00
198    28.00
199    24.00
200    28.00
201    28.00
202    34.00
203    45.50
204    18.00
205     2.00
206    32.00
207    26.00
208    16.00
209    40.00
210    24.00
211    35.00
212    22.00
213    30.00
214    28.00
215    31.00
216    27.00
217    42.00
218    32.00
219    30.00
220    16.00
221    27.00
222    51.00
223    28.00
224    38.00
225    22.00
226    19.00
227    20.50
228    18.00
229    28.00
230    35.00
231    29.00
232    59.00
233     5.00
234    24.00
235    28.00
236    44.00
237     8.00
238    19.00
239    33.00
240    28.00
241    28.00
242    29.00
243    22.00
244    30.00
245    44.00
246    25.00
247    24.00
248    37.00
249    54.00
250    28.00
251    29.00
252    62.00
253    30.00
254    41.00
255    29.00
256    28.00
257    30.00
258    35.00
259    50.00
260    28.00
261     3.00
262    52.00
263    40.00
264    28.00
265    36.00
266    16.00
267    25.00
268    58.00
269    35.00
270    28.00
271    25.00
272    41.00
273    37.00
274    28.00
275    63.00
276    45.00
277    28.00
278     7.00
279    35.00
280    65.00
281    28.00
282    16.00
283    19.00
284    28.00
285    33.00
286    30.00
287    22.00
288    42.00
289    22.00
290    26.00
291    19.00
292    36.00
293    24.00
294    24.00
295    28.00
296    23.50
297     2.00
298    28.00
299    50.00
300    28.00
301    28.00
302    19.00
303    28.00
304    28.00
305     0.92
306    28.00
307    17.00
308    30.00
309    30.00
310    24.00
311    18.00
312    26.00
313    28.00
314    43.00
315    26.00
316    24.00
317    54.00
318    31.00
319    40.00
320    22.00
321    27.00
322    30.00
323    22.00
324    28.00
325    36.00
326    61.00
327    36.00
328    31.00
329    16.00
330    28.00
331    45.50
332    38.00
333    16.00
334    28.00
335    28.00
336    29.00
337    41.00
338    45.00
339    45.00
340     2.00
341    24.00
342    28.00
343    25.00
344    36.00
345    24.00
346    40.00
347    28.00
348     3.00
349    42.00
350    23.00
351    28.00
352    15.00
353    25.00
354    28.00
355    28.00
356    22.00
357    38.00
358    28.00
359    28.00
360    40.00
361    29.00
362    45.00
363    35.00
364    28.00
365    30.00
366    60.00
367    28.00
368    28.00
369    24.00
370    25.00
371    18.00
372    19.00
373    22.00
374     3.00
375    28.00
376    22.00
377    27.00
378    20.00
379    19.00
380    42.00
381     1.00
382    32.00
383    35.00
384    28.00
385    18.00
386     1.00
387    36.00
388    28.00
389    17.00
390    36.00
391    21.00
392    28.00
393    23.00
394    24.00
395    22.00
396    31.00
397    46.00
398    23.00
399    28.00
400    39.00
401    26.00
402    21.00
403    28.00
404    20.00
405    34.00
406    51.00
407     3.00
408    21.00
409    28.00
410    28.00
411    28.00
412    33.00
413    28.00
414    44.00
415    28.00
416    34.00
417    18.00
418    30.00
419    10.00
420    28.00
421    21.00
422    29.00
423    28.00
424    18.00
425    28.00
426    28.00
427    19.00
428    28.00
429    32.00
430    28.00
431    28.00
432    42.00
433    17.00
434    50.00
435    14.00
436    21.00
437    24.00
438    64.00
439    31.00
440    45.00
441    20.00
442    25.00
443    28.00
444    28.00
445     4.00
446    13.00
447    34.00
448     5.00
449    52.00
450    36.00
451    28.00
452    30.00
453    49.00
454    28.00
455    29.00
456    65.00
457    28.00
458    50.00
459    28.00
460    48.00
461    34.00
462    47.00
463    48.00
464    28.00
465    38.00
466    28.00
467    56.00
468    28.00
469     0.75
470    28.00
471    38.00
472    33.00
473    23.00
474    22.00
475    28.00
476    34.00
477    29.00
478    22.00
479     2.00
480     9.00
481    28.00
482    50.00
483    63.00
484    25.00
485    28.00
486    35.00
487    58.00
488    30.00
489     9.00
490    28.00
491    21.00
492    55.00
493    71.00
494    21.00
495    28.00
496    54.00
497    28.00
498    25.00
499    24.00
500    17.00
501    21.00
502    28.00
503    37.00
504    16.00
505    18.00
506    33.00
507    28.00
508    28.00
509    26.00
510    29.00
511    28.00
512    36.00
513    54.00
514    24.00
515    47.00
516    34.00
517    28.00
518    36.00
519    32.00
520    30.00
521    22.00
522    28.00
523    44.00
524    28.00
525    40.50
526    50.00
527    28.00
528    39.00
529    23.00
530     2.00
531    28.00
532    17.00
533    28.00
534    30.00
535     7.00
536    45.00
537    30.00
538    28.00
539    22.00
540    36.00
541     9.00
542    11.00
543    32.00
544    50.00
545    64.00
546    19.00
547    28.00
548    33.00
549     8.00
550    17.00
551    27.00
552    28.00
553    22.00
554    22.00
555    62.00
556    48.00
557    28.00
558    39.00
559    36.00
560    28.00
561    40.00
562    28.00
563    28.00
564    28.00
565    24.00
566    19.00
567    29.00
568    28.00
569    32.00
570    62.00
571    53.00
572    36.00
573    28.00
574    16.00
575    19.00
576    34.00
577    39.00
578    28.00
579    32.00
580    25.00
581    39.00
582    54.00
583    36.00
584    28.00
585    18.00
586    47.00
587    60.00
588    22.00
589    28.00
590    35.00
591    52.00
592    47.00
593    28.00
594    37.00
595    36.00
596    28.00
597    49.00
598    28.00
599    49.00
600    24.00
601    28.00
602    28.00
603    44.00
604    35.00
605    36.00
606    30.00
607    27.00
608    22.00
609    40.00
610    39.00
611    28.00
612    28.00
613    28.00
614    35.00
615    24.00
616    34.00
617    26.00
618     4.00
619    26.00
620    27.00
621    42.00
622    20.00
623    21.00
624    21.00
625    61.00
626    57.00
627    21.00
628    26.00
629    28.00
630    80.00
631    51.00
632    32.00
633    28.00
634     9.00
635    28.00
636    32.00
637    31.00
638    41.00
639    28.00
640    20.00
641    24.00
642     2.00
643    28.00
644     0.75
645    48.00
646    19.00
647    56.00
648    28.00
649    23.00
650    28.00
651    18.00
652    21.00
653    28.00
654    18.00
655    24.00
656    28.00
657    32.00
658    23.00
659    58.00
660    50.00
661    40.00
662    47.00
663    36.00
664    20.00
665    32.00
666    25.00
667    28.00
668    43.00
669    28.00
670    40.00
671    31.00
672    70.00
673    31.00
674    28.00
675    18.00
676    24.50
677    18.00
678    43.00
679    36.00
680    28.00
681    27.00
682    20.00
683    14.00
684    60.00
685    25.00
686    14.00
687    19.00
688    18.00
689    15.00
690    31.00
691     4.00
692    28.00
693    25.00
694    60.00
695    52.00
696    44.00
697    28.00
698    49.00
699    42.00
700    18.00
701    35.00
702    18.00
703    25.00
704    26.00
705    39.00
706    45.00
707    42.00
708    22.00
709    28.00
710    24.00
711    28.00
712    48.00
713    29.00
714    52.00
715    19.00
716    38.00
717    27.00
718    28.00
719    33.00
720     6.00
721    17.00
722    34.00
723    50.00
724    27.00
725    20.00
726    30.00
727    28.00
728    25.00
729    25.00
730    29.00
731    11.00
732    28.00
733    23.00
734    23.00
735    28.50
736    48.00
737    35.00
738    28.00
739    28.00
740    28.00
741    36.00
742    21.00
743    24.00
744    31.00
745    70.00
746    16.00
747    30.00
748    19.00
749    31.00
750     4.00
751     6.00
752    33.00
753    23.00
754    48.00
755     0.67
756    28.00
757    18.00
758    34.00
759    33.00
760    28.00
761    41.00
762    20.00
763    36.00
764    16.00
765    51.00
766    28.00
767    30.50
768    28.00
769    32.00
770    24.00
771    48.00
772    57.00
773    28.00
774    54.00
775    18.00
776    28.00
777     5.00
778    28.00
779    43.00
780    13.00
781    17.00
782    29.00
783    28.00
784    25.00
785    25.00
786    18.00
787     8.00
788     1.00
789    46.00
790    28.00
791    16.00
792    28.00
793    28.00
794    25.00
795    39.00
796    49.00
797    31.00
798    30.00
799    30.00
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
805    31.00
806    39.00
807    18.00
808    39.00
809    33.00
810    26.00
811    39.00
812    35.00
813     6.00
814    30.50
815    28.00
816    23.00
817    31.00
818    43.00
819    10.00
820    52.00
821    27.00
822    38.00
823    27.00
824     2.00
825    28.00
826    28.00
827     1.00
828    28.00
829    62.00
830    15.00
831     0.83
832    28.00
833    23.00
834    18.00
835    39.00
836    21.00
837    28.00
838    32.00
839    28.00
840    20.00
841    16.00
842    30.00
843    34.50
844    17.00
845    42.00
846    28.00
847    35.00
848    28.00
849    28.00
850     4.00
851    74.00
852     9.00
853    16.00
854    44.00
855    18.00
856    45.00
857    51.00
858    24.00
859    28.00
860    41.00
861    21.00
862    48.00
863    28.00
864    24.00
865    42.00
866    27.00
867    31.00
868    28.00
869     4.00
870    26.00
871    47.00
872    33.00
873    47.00
874    28.00
875    15.00
876    20.00
877    19.00
878    28.00
879    56.00
880    25.00
881    33.00
882    22.00
883    28.00
884    25.00
885    39.00
886    27.00
887    19.00
888    28.00
889    26.00
890    32.00
Name: Age, dtype: float64

# Prepare Features and Target Variables 

what we learn

- importing the packages

- importing the dataset

- Feature Engg (Adding Removing Features)

- Imputation (Filling the Null Values)

- Outliers Removal

- Declaration of Dependent and Independent Variables

- Scale the Data (Normalise the data)

- Train Test Split

In [52]:
x = df_titanic.drop('Survived', axis=1)

In [53]:
y = df_titanic['Survived']

In [54]:
## Let us now try to normalise the dataset using min max scaler\

In [55]:
from sklearn.preprocessing import MinMaxScaler 

sc = MinMaxScaler()

In [64]:
df_titanic.head()

,Survived,Age,Ticket,Travelalone,Pclass_2,Pclass_3,Embarked_Q,Embarked_S,Sex_male
0,0,22.0,A/5 21171,0,False,True,False,True,True
1,1,38.0,PC 17599,0,False,False,False,False,False
2,1,26.0,STON/O2. 3101282,1,False,True,False,True,False
3,1,35.0,113803,0,False,False,False,True,False
4,0,35.0,373450,1,False,True,False,True,True

In [80]:
df_titanic[['Age','Fare']] = sc.fit_transform(df_titanic[['Age','Fare']]) ## here is something went wrong

## KeyError: "['Name'] not in index"
## KeyError: "['Fare'] not in index"

KeyError: "['Fare'] not in index"